{
    debug
    admin localhost:2019
    order markdown before file_server
}
:2018 {   
    markdown {
        template /markdown.tmpl
    }
    file_server browse {
        hide .git
        index README.md index.html index.htm
    }
   
}