{
    order markdown before file_server
    order sentry before markdown
}
:2019 {
    markdown {
        template /markdown.tmpl
    }
    file_server browse {
        hide .git
        index README.md index.html index.htm
    }
    sentry {
        span {path}
    }
}