<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>{{.Title}}</title> {{/* index.html模板中的变量传递到header.html模板中使用 */}}
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="/static/css/markdown.css"></link>
    <link rel="stylesheet" href="/static/css/style.css"></link>
    <link rel="icon" href="/static/favicons/favicon.svg">
    <link rel="stylesheet" href="https://unpkg.com/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous"></link>
    <script defer src="https://unpkg.com/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script src="/static/js/icons.js"></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="stylesheet" href="https://unpkg.com/cal-heatmap@4.2.4/dist/cal-heatmap.css">    
    <script src="https://unpkg.com/cal-heatmap@4.2.4/dist/cal-heatmap.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap@4.2.4/dist/plugins/LegendLite.min.js"></script>  
    <script src="https://unpkg.com/cal-heatmap@4.2.4/dist/plugins/Tooltip.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap@4.2.4/dist/plugins/CalendarLabel.min.js"></script>
    <script>
        const cal = new CalHeatmap();
        function calPrevious(e) {
            e.preventDefault();
            cal.previous();
        }
        function calNext(e) {
            e.preventDefault();
            cal.next();
        }
        // const calDataSource = [
        //     { date: '2024-10-01', value: 1 },
        // ];
        const calDataSource = {{.GitStatsData}}

        const calData = {
                data: {
                    source: calDataSource,
                    x: 'date',
                    y: 'value',
                },
                date: { start: new Date('{{.GitStartDate}}') },
                range: 12,
                scale: {
                    color: {
                        type: 'threshold',
                        range: ['#4dd05a','#37a446','#166b34','#14432a', ],
                        domain: [2, 5, 10],
                    },
                },
                domain: {
                    type: 'month',
                    gutter: 4,
                    label: { text: 'MMM', textAlign: 'start', position: 'top' },
                },
                subDomain: { type: 'ghDay', radius: 2, width: 11, height: 11, gutter: 4 },
                itemSelector: '#cal-heatmap',
         }

        const calOpts = [
                [Tooltip,
                {
                    text: function (date, value, dayjsDate) {
                        return (
                            (value ? value : 'No') +
                            ' contributions on ' +
                            dayjsDate.format('dddd, MMMM D, YYYY')
                        );
                    },
                },
                ],
                [LegendLite,
                {
                    includeBlank: true,
                    itemSelector: '#cal-heatmap-legend',
                    radius: 2,
                    width: 11,
                    height: 11,
                    gutter: 4,
                },
                ],
                [CalendarLabel,
                {
                    width: 30,
                    textAlign: 'start',
                    text: () => dayjs.weekdaysShort().map((d, i) => (i % 2 == 0 ? '' : d)),
                    padding: [25, 0, 0, 0],
                },
                ],
            ];


        document.addEventListener("DOMContentLoaded", function() {           

            renderMathInElement(document.body, {
                strict: "ignore",
                trust: ["\\htmlId"],
                // delimiters: [{
                //     left: "$$",
                //     right: "$$",
                //     display: true
                // }, {
                //     left: "\\[",
                //     right: "\\]",
                //     display: true
                // }, {
                //     left: "$",
                //     right: "$",
                //     display: false
                // }, {
                //     left: "\\(",
                //     right: "\\)",
                //     display: false
                // }],
                macros: {
                    "\\eqref": "\\href{###1}{(\\text{#1})}",
                    "\\ref": "\\href{###1}{\\text{#1}}",
                    "\\label": "\\htmlId{#1}{}",
                    "\\f": "#1f(#2)"
                },
                throwOnError: false,
            });

            cal.paint(calData, calOpts);

        });
    </script>
</head>
<body>
<div class="layout">
    <div class="layout-sidebar">
        <div class="path">
            <a href="/"><img src="/static/icons/default_root_folder_opened.svg"/>Home</a>
            {{if .UpperPath}} <a href="{{.UpperPath}}">../</a> {{end}}
        </div>
        <div>
            <ul>
                {{range .CurrentDirs}}  {{/* 这种方式无法访问到index或者key的值，需要通过.来访问对应的value  */}}
                {{if .IsFile}}
                <li class="page"><a href="{{.Href}}"><img src="/static/icons/default_file.svg" onload="this.onload=null; this.src=getFileIconPath('{{.FileExtension}}');"/>{{.Name}}</a></li>
                {{else}}
                <li class="folder"><a href="{{.Href}}"><img src="/static/icons/default_folder.svg" onload="this.onload=null; this.src=getFolderIconPath('{{.FileExtension}}');"/>{{.Name}}</a></li>
                {{end}}{{end}}
            </ul>
        </div>
    </div><!--end of layout-sidebar-->
    <div class="layout-main">
        <div class="markdown">{{.MdHtml}}</div>
    </div><!--end of layout-main-->
</div><!--end of layout-->

<div style="color: #adbac7; border-radius: 3px; padding: 1rem; overflow: hidden; max-width: 58em;">
    <div id="cal-heatmap" class="margin-bottom--md"></div>
    <a style="display: display;" class="button button--sm button--secondary margin-top--sm" href="#" onclick="calPrevious(event)">
    ← Previous
    </a>
    <a style="display: display;" class="button button--sm button--secondary margin-top--sm margin-left--xs" href="#" onclick="calNext(event)">
    Next →
    </a>
    <div style="float: right; font-size: 12px;">
    <span style="color: #768390">Less</span>
    <div id="cal-heatmap-legend" style="display: inline-block; margin: 0px 4px;"></div>
    <span style="color: #768390; font-size: 12px;">More</span>
    </div>
</div>
<footer>
Served with <a rel="noopener noreferrer" href="https://github.com/kingreatwill/caddy-modules">caddy markdown</a>
</footer>
<script src="https://unpkg.com/mermaid@8.13.3/dist/mermaid.min.js"></script>

</body>
</html>
