<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>{{.Title}}</title> {{/* index.html模板中的变量传递到header.html模板中使用 */}}
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="/static/css/markdown.css"></link>
    <link rel="stylesheet" href="/static/css/style.css"></link>

    <link rel="stylesheet" href="https://unpkg.com/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous"></link>
    <script defer src="https://unpkg.com/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script src="/static/js/icons.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                strict: "ignore",
                trust: ["\\htmlId"],
                // delimiters: [{
                //     left: "$$",
                //     right: "$$",
                //     display: true
                // }, {
                //     left: "\\[",
                //     right: "\\]",
                //     display: true
                // }, {
                //     left: "$",
                //     right: "$",
                //     display: false
                // }, {
                //     left: "\\(",
                //     right: "\\)",
                //     display: false
                // }],
                macros: {
                    "\\eqref": "\\href{###1}{(\\text{#1})}",
                    "\\ref": "\\href{###1}{\\text{#1}}",
                    "\\label": "\\htmlId{#1}{}",
                    "\\f": "#1f(#2)"
                },
                throwOnError: false,
            });
        });
    </script>
</head>
<body>
<div class="layout">
    <div class="layout-sidebar">
        <div class="path">
            <a href="/"><img src="/static/icons/default_root_folder_opened.svg"/>Home</a>
            {{if .UpperPath}} <a href="{{.UpperPath}}">../</a> {{end}}
        </div>
        <div>
            <ul>
                {{range .CurrentDirs}}  {{/* 这种方式无法访问到index或者key的值，需要通过.来访问对应的value  */}}
                {{if .IsFile}}
                <li class="page"><a href="{{.Href}}"><img src="/static/icons/default_file.svg" onload="this.onload=null; this.src=getFileIconPath('{{.FileExtension}}');"/>{{.Name}}</a></li>
                {{else}}
                <li class="folder"><a href="{{.Href}}"><img src="/static/icons/default_folder.svg" onload="this.onload=null; this.src=getFolderIconPath('{{.FileExtension}}');"/>{{.Name}}</a></li>
                {{end}}{{end}}
            </ul>
        </div>
    </div><!--end of layout-sidebar-->
    <div class="layout-main">
        <div class="markdown">{{.MdHtml}}</div>
    </div><!--end of layout-main-->
</div><!--end of layout-->
<footer>
Served with <a rel="noopener noreferrer" href="https://github.com/kingreatwill/caddy-modules">caddy markdown</a>
</footer>
<script src="https://unpkg.com/mermaid@8.13.3/dist/mermaid.min.js"></script>
</body>
</html>